# Основные зависимости
# numpy==1.26.4
python-dotenv
opencv-python
pyyaml
shapely
psycopg2

# Используем последнюю версию super-gradients, где убрана зависимость от pycocotools
super-gradients>=3.6.1

# Другие зависимости
supervision
torchinfo
