numpy==1.26
python-dotenv
opencv-python
torch==2.3.1
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
onnxruntime-gpu==1.18.0
pyyaml
supervision
psycopg2